<a href="https://colab.research.google.com/github/dineshreddy768/Dinesh123-/blob/main/dinesh_do_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive

import pandas as pd
drive.mount('/content/drive/')
df=pd.read_excel('/content/Even.xlsx',sheet_name=1)
print(df.head())

Mounted at /content/drive/
    Employee_Name  Employee_ID   Job_Role  Phone_Number  \
0     Jane Miller         8797  Developer  3.801881e+09
1   Michael Brown         6540    Manager  7.904752e+09
2  Sarah Anderson         2353  Developer  9.463822e+09
3   Chris Johnson         6392   Engineer  8.727628e+09
4     Laura Smith         1653    Analyst  7.750284e+08

                   Email_ID  Total_Work_Hour_per_Month  Salary_per_Month
0  emily.taylor@example.com                     9999.0               NaN
1       john.brown@test.net                      160.0           11200.0
2   sarah.wilson@sample.org                     9999.0           -5000.0
3     john.jones@sample.org                      160.0            8000.0
4     sarah.taylor@test.net                     9999.0               NaN

In [4]:
print(df)

     Employee_Name  Employee_ID   Job_Role  Phone_Number  \
0      Jane Miller         8797  Developer  3.801881e+09
1    Michael Brown         6540    Manager  7.904752e+09
2   Sarah Anderson         2353  Developer  9.463822e+09
3    Chris Johnson         6392   Engineer  8.727628e+09
4      Laura Smith         1653    Analyst  7.750284e+08
..             ...          ...        ...           ...
95     Emily Smith         5111        NaN  4.463884e+09
96    Sarah Wilson         7388   Engineer  7.455009e+09
97             NaN         3773    Manager  4.515526e+08
98     Sarah Smith         1442    Analyst  3.294945e+09
99   Michael Jones         3490    Analyst  9.425622e+09

                        Email_ID  Total_Work_Hour_per_Month  Salary_per_Month
0       emily.taylor@example.com                     9999.0               NaN
1            john.brown@test.net                      160.0           11200.0
2        sarah.wilson@sample.org                     9999.0           -5000.0
3          john.jones@sample.org                      160.0            8000.0
4          sarah.taylor@test.net                     9999.0               NaN
..                           ...                        ...               ...
95          james.davis@test.net                      -10.0          100000.0
96      john.johnson@example.com                        NaN          100000.0
97       david.miller@sample.org                        NaN          100000.0
98  jessica.anderson@example.com                      -10.0           -5000.0
99        john.miller@sample.org                        NaN               NaN

[100 rows x 7 columns]